<TabView id="tabViewContainer" [(ngModel)]="tabSelectedIndex" (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <ActionBar title="Sistema de emergencias">
        <ActionItem icon="res://icon" (tap)="logout()" ios.position="left"></ActionItem>
    </ActionBar>
    <StackLayout *tabItem="{title: 'Emergencias reportadas'}">
        <ListView [items]="medicalEmergencies" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-medicalEmergency="item" let-i="index" let-odd="odd" let-even="even">
                <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
                <StackLayout orientation="vertical">
                    <!-- <Label text="Diagnóstico: " textWrap="true"></Label> -->
                    <Label [text]="medicalEmergency.patient_description"></Label>
                    <Label [text]="'Fecha: ' + (medicalEmergency.createdAt | date: 'dd/MM/yyyy hh:mm a')"></Label>
                    <!-- <StackLayout *ngIf="medicalEmergency.state ==='Asignado'" orientation="vertical">
                        <Label
                            [text]="medicalEmergency.updatedAt | date: 'dd/MM/yyyy hh:mm a'"></Label>
                        <Label [text]="medicalEmergency.medicalCenter?.name"></Label>
                    </StackLayout> -->

                    <StackLayout *ngIf="medicalEmergency.state ==='Asignado'" orientation="vertical">
                        <Label textWrap="true" [text]="'Asignado a '+medicalEmergency.medicalCenter.name"></Label>
                        <Label
                            [text]="'Actualizado ' + (medicalEmergency.updatedAt | date: 'dd/MM/yyyy hh:mm a')"></Label>
                    </StackLayout>
                    <Label *ngIf="medicalEmergency.state !=='Asignado'" text="Estado: Sin asignar"></Label>

                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Centros de atención médica'}">
        <ListView [items]="medicalCenters" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-medicalCenter="item" let-i="index" let-odd="odd" let-even="even">
                <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
                <StackLayout orientation="vertical">
                    <!-- <Label text="Diagnóstico: " textWrap="true"></Label> -->
                    <Label [text]="medicalCenter.name"></Label>
                    <Label [text]="medicalCenter.address"></Label>
                    <Image class="logo" [src]="medicalCenter.photo"></Image>
                    <!-- <Label [text]="country.createdAt"></Label> -->
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <!-- <StackLayout *tabItem="{title: 'Historia clinica'}">
        <ListView [items]="clinicHistory" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-country="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout orientation="vertical" class="list-group-item">
                    <Label [text]="'Diagnóstico: '+country.diagnosis"></Label>
                    <Label [text]="'Fecha: '+(country.createdAt | date: 'dd/MM/yyyy hh:mm a')"></Label>
                    <Label *ngIf="country.description" [text]="'Descripción: '+ (country.description || '...')"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout> -->
    <StackLayout *tabItem="{title: 'Reportar emergencia'}">
        <StackLayout orientation="vertical" horizontalAlignment="center" verticalAlignment="center" class="form">
            <Label [text]="message" textWrap="true" class="label-info"></Label>

            <!-- <TextField class="input" hint="Descripción" autocorrect="false" autocapitalizationType="none"
                [(ngModel)]="medicalEmergency.patient_description" returnKeyType="next"></TextField>
            <StackLayout class="hr-light"></StackLayout>
            <TextField class="input" hint="Dirección de lugar" autocorrect="false" autocapitalizationType="none"
                [(ngModel)]="medicalEmergency.address" returnKeyType="next"></TextField>
            <StackLayout class="hr-light"></StackLayout> -->

            <StackLayout class="input-field">
                <TextField #patient_description class="input" hint="Descripción" autocorrect="false"
                    autocapitalizationType="none" [(ngModel)]="medicalEmergency.patient_description"
                    returnKeyType="next">
                </TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
            <StackLayout class="input-field">
                <TextField class="input" hint="Dirección de lugar (opcional)" autocorrect="false"
                    autocapitalizationType="none" [(ngModel)]="medicalEmergency.address" returnKeyType="next">
                </TextField>
                <StackLayout class="hr-light"></StackLayout>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <Button [isEnabled]="!medicalEmergency.photo" (tap)="takePicture()" text="Tomar foto" class="btn btn-primary" ></Button>

            <Button [isEnabled]="!processing" text="Registrar emergencia" (tap)="createMedicalEmergency()"
                class="btn btn-primary"></Button>

            <!-- <Image class="logo" [src]="image"></Image> -->
            <!-- <Button class="btn btn-primary" text="Cerrar sesión" (tap)="logout()"></Button> -->

            <ActivityIndicator [busy]="processing"></ActivityIndicator>
        </StackLayout>
    </StackLayout>
</TabView>